
html, body, #map-canvas { height: 100%; margin: 0; padding: 0; }

.marker {
	position: absolute;
	cursor: pointer;
	font-size: 11px;
	padding: 1px 2px;
}

/* Tablet */
@media screen and (max-width: 1023px) {
	.marker { font-size: 15px; padding: 2px 4px; }
}

/* Mobile horizontal */
@media screen and (max-width: 767px) {
	.marker { font-size: 20px; padding: 3px 5px; }
}

/* Mobile vertical. */
@media screen and (max-width: 479px) {

}